{% block content %}
<div class="slider mt-2 ">
    <div class="flex flex-nowrap overflow-x-hidden whitespace-nowrap">
        {% for image in product_hero_images %}
        <div class="grow slide">
            <img class="object-contain object-cover" src="{{ image.get_thumbnail }}" alt="mountains" />
        </div>
        {% endfor %}
    </div>
    <button class="btn btn-next text-white bg-teal-950">&rarr;</button>
    <button class="btn btn-prev text-white bg-teal-950">&larr;</button>
</div>
{% endblock %}